/* src/components/TopBar.css */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #1f1d1d;
    color: white;
    padding: 10px 20px;
}
.dark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #9e9b9b;
    color: white;
    padding: 10px 20px;

}

.logo {
    font-size: 1.5em;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}
